<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message Form</title>
  </head>
  <body>
    <form action="/new" method="POST">
      <h1>Write your message:</h1>
      <input type="text" name="author" id="author" placeholder="Your Name" />
      <input
        type="text"
        name="message"
        id="message"
        placeholder="Your Message"
      />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
